<web-app>
    <error-page>
        <!-- <error-code>500</error-code>
        <location>/ch11/errorCode_error.jsp</location> -->
        <exception-type>java.lang.Exception</exception-type>
        <location>/ch11/exceptionType_error.jsp</location>
    </error-page>
    <!-- 6월 25일 여기부터 -->
    <filter>
        <filter-name>Filter02</filter-name>
        <filter-class>ch12.com.filter.InitParamFilter</filter-class>
    </filter>
    <init-param>
        <param-name>param1</param-name>
        <param-value>admin</param-value>
    </init-param>
    <init-param>
        <param-name>param2</param-name>
        <param-value>1234</param-value>
    </init-param>
    <filter-mapping>
        <filter-name>Filter02</filter-name>
        <url-pattern>/ch12/filter02_process.jsp</url-pattern>
    </filter-mapping>
</web-app>